extends layout

block content
	.four-zero-four
		.four-zero-four-container
			.error-code 404
			.error-message This page doesn't exist
			.button-place
				a.btn.btn-default.btn-lg.waves-effect(href='../../index.html') GO TO HOMEPAGE
	pre #{error.stack}
