doctype html
html
	head
		include header.jade
	body.theme-red
		include search.jade
		include navigation.jade
		include sidebar.jade
		.content-wrapper
			block content
		//- include footer.jade
		include js.jade