//- script(type='text/javascript', src='/adminlte/plugins/jQuery/jquery-2.2.3.min.js')
//- script(type='text/javascript', src='/adminlte/bootstrap/js/bootstrap.min.js')
//- script(type='text/javascript', src='/adminlte/plugins/slimScroll/jquery.slimscroll.min.js')
//- script(type='text/javascript', src='/adminlte/dist/js/app.min.js')
//- script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')

// Jquery Core Js
script(src='plugins/jquery/jquery.min.js')
// Bootstrap Core Js
script(src='plugins/bootstrap/js/bootstrap.js')
// Select Plugin Js
script(src='plugins/bootstrap-select/js/bootstrap-select.js')
// Slimscroll Plugin Js
script(src='plugins/jquery-slimscroll/jquery.slimscroll.js')
// Waves Effect Plugin Js
script(src='plugins/node-waves/waves.js')
// Jquery CountTo Plugin Js
script(src='plugins/jquery-countto/jquery.countTo.js')
// Morris Plugin Js
script(src='plugins/raphael/raphael.min.js')
script(src='plugins/morrisjs/morris.js')
// ChartJs
script(src='plugins/chartjs/Chart.bundle.js')
// Flot Charts Plugin Js
script(src='plugins/flot-charts/jquery.flot.js')
script(src='plugins/flot-charts/jquery.flot.resize.js')
script(src='plugins/flot-charts/jquery.flot.pie.js')
script(src='plugins/flot-charts/jquery.flot.categories.js')
script(src='plugins/flot-charts/jquery.flot.time.js')
// Sparkline Chart Plugin Js
script(src='plugins/jquery-sparkline/jquery.sparkline.js')
// Custom Js
script(src='js/admin.js')
script(src='js/pages/index.js')
// Demo Js
script(src='js/demo.js')